<div class="container d-flex flex-column justify-content-start transition-text-gray">
    <div class="toolbar-title">详细信息</div>
    <div>
        <i class="bi bi-clock-history"></i><span>版本号 #2</span>
    </div>
    <div>
        <i class="bi bi-star-fill"></i><span>由 Test 创建于 3周前</span>
    </div>
    <div>
        <i class="bi bi-pencil-fill"></i><span>由 Admin 更新于 19分钟前</span>
    </div>
</div>