<div class="container-fluid p-2 d-flex test">
    <bi-content class="side-position-sticky">
        <left-content>
            @LeftContent
        </left-content>
        <right-content>
            @RightContent
        </right-content>
    </bi-content>
    <main-content class="align-items-center">
        <main-body class="w-100 h-100 p-5 shadow-sm rounded">
            @MainContent
        </main-body>
    </main-content>
    <right-content class="side-position-sticky">
        @RightContent
    </right-content>
</div>